{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block content %}
<h1>{% trans "Confirm E-mail Address" %}</h1>
<div class="ui fixed top inverted blue menu onTop" style="margin-top:0">
          <div><a href="/" id="logo"><img style="margin-left: 1rem; margin-top: 1rem;" height="50"
                                src="/static/images/kiterope_logo_v01.png" /></a></div>
    <div class="right menu">
                  <button class="ui button item" onClick="window.location.href='/#/joinKiterope'">Join Kiterope</button>
                  <button class="ui button item" onClick="window.location.href='/#/account/login/'">Sign In</button>
              </div>
    </div>
<div class="ui text container">
    <div class="ui spacer">&nbsp;</div>
    <div class="ui center aligned grid">
{% if confirmation %}

{% user_display confirmation.email_address.user as user_display %}
        {% blocktrans with confirmation.email_address.email as email %}
        <div class="ui stackable grid">
                <div class="ui  row">
                                <div class="ui column">


<!-- <div class="largeType">Your email address <a href="mailto:{{ email }}">{{ email }}</a> your email address.</div>-->
                                    <div class="largeType">Your email address has been confirmed.Click <a href="/account/login/">here to login</a> {% endblocktrans %}</div>

                    </div></div>
                                <div class="ui row">
                                                                    <div class="ui eight wide column">

<!--

<form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
{% csrf_token %}
    <button class="ui fluid purple button" type="submit">{% trans 'Confirm' %}</button>
</form></div>
            </div>
            </div>-->

{% else %}

{% url 'account_email' as email_url %}

<div class="largeType">{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">request a new email confirmation</a>.{% endblocktrans %}</div>

{% endif %}
        </div>
    </div>

{% endblock %}
