{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}


{% block content %}
    <div class="ui text container">
    <div class="fullPageDiv">
                    <div class="spacer">&nbsp;</div>
                    <div class="ui alert"></div>
    <div class="ui one column grid">
<div class="ui eight wide segment column">
	<div class="ui row">
        <div class="header"><h1>Sign In</h1></div>
		<div class="ui row">&nbsp;</div>

<!--
{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}


    {% include "socialaccount/snippets/provider_list.html" with process="login" %}

	<div class="ui row">
     <div class="centered">{% trans 'or' %}</div>
    </div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %} -->

<form class="ui form" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
{{form.hidden}}
<div class="field">{{form.login.label}}

{{form.login}}</div>
<div class="field">
{{form.password.label}}
{{form.password}}</div>

  {% if redirect_field_value %}
       <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />

  {% endif %}
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-error login-alert">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-error login-alert">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
<div class="ui row">
	<div class="float-right"><a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a></div>
</div>
  <button class="ui fluid purple button" type="submit">{% trans "Sign In" %}</button>
</form>
    <hr>
<div class="ui row">&nbsp;</div>
                        <div class="ui row">&nbsp;</div>
<div class="row">
<div >Don't have an account?</div>
<div ><a href="{{ signup_url }}" class="ui  large fluid button">Join Kiterope</a></div>
</div></div>
    </div> <div class="ui eight wide column">
 <div class="massiveType">
    10 minutes a day is better than 90 minutes a week</div>
    </div>
    </div>
</div>
    </div>
    </div>
{% endblock %}
