{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
 <div class="ui page text container">
    <div class="fullPageDiv">
                    <div class="spacer">&nbsp;</div>
                    <div class="ui alert"></div>
    <div class="ui one column center aligned grid">
<div class="ui ten wide  column">
	<div class="ui row">
        <div class="header"><h1>Sign Out</h1></div>
		<div class="ui row">&nbsp;</div>

<p>{% trans 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button class="ui fluid purple button" type="submit">{% trans 'Sign Out' %}</button>
</form>


{% endblock %}
