{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h1>{% trans "Change Password" %}</h1>
    <div class="ui text container">
    <div class="fullPageDiv">
                    <div class="spacer">&nbsp;</div>
                    <div class="ui alert"></div>
    <div class="ui one column grid">
<div class="ui eight wide segment column">
	<div class="ui row">
        <div class="header"><h1>{% trans 'Your password has been changed.' %}</h1></div>
        	<div class="ui row">&nbsp;</div>

        <a href="/accounts/login/">Go to Sign In</a>
    </div></div></div></div></div>
{% endblock %}
