{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="row">&nbsp;</div>

<div class="large-4 large-centered columns bordered padded-top">
	<div class="row">&nbsp;</div>




<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
<h2>Sign Up</h2>

{{form.hidden}}
<div class="float-left">{{form.username.label}}</div>
{{form.username}}
<div class="custom-error">{{form.username.errors}}</div>
<div class="float-left">{{form.email.label}}</div>

{{form.email}}
<div class="custom-error">{{form.email.errors}}</div>
<div class="float-left">{{form.password1.label}}</div>

{{form.password1}}

<div class="custom-error">{{form.password1.errors}}</div>
<div class="float-left">{{form.password2.label}}</div>

{{form.password2}}

<div class="custom-error">{{form.password2.errors}}</div>

  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
<div class="expanded row">
  <button class="expanded button" type="submit">{% trans "Sign Up" %}</button></div>
</form>
<hr>
<div class="row">
<div class="float-left">Already have an account?</div>
<div class="float-right"><a href="{{ login_url }}" class="expanded button">Log in</a></div>
</div>
</div>

{% endblock %}
