{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
            <div class="ui text container">

    <div class="fullPageDiv">

    <div class="spacer">&nbsp;</div>
    <div class="ui alert"></div>
    <div class="ui two column stackable grid">

        <div class="ui eight wide segment column"><h1>Join Kiterope</h1>

        <form class="ui form" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ form.hidden }}
            <div class="field">
                {{ form.username.label }}:
                {{ form.username }}
                <div class="custom-error">{{ form.username.errors }}</div>
            </div>

            <div class="field">
                {{ form.email.label }}:
                {{ form.email }}
                <div class="custom-error">{{ form.email.errors }}</div>
            </div>

            <div class="field">
                {{ form.password1.label }}:
                {{ form.password1 }}

                <div class="custom-error">{{ form.password1.errors }}</div>
            </div>

            <div class="field">
                {{ form.password2.label }}:
                {{ form.password2 }}

                <div class="custom-error">{{ form.password2.errors }}</div>
            </div>


            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <div class="ui row">
                <button class="ui fluid large purple button" type="submit">{% trans "Sign Up" %}</button>
            </div>
        </form>
        <hr>
                <div class="ui row">&nbsp;</div>
                        <div class="ui row">&nbsp;</div>


        <div class="ui row">
            <div class="float-left">Already have an account?</div>
            <a href="{{ login_url }}" class="ui fluid large  button">Log in</a>
        </div>
    </div>
     <div class="ui eight wide column">
 <div class="massiveType">
    Joining Kiterope is a great first step towards making your goals become real.</div>
    </div></div>
    </div></div>

{% endblock %}
