dj-stripe==0.7.0
Django==1.8
django-braces==1.8.1
django-model-utils==2.3.1
django-parsley==0.6
django-registration==1.0
django-registration-redux==1.2
django-storages==1.5.0
ecdsa==0.13
Fabric==1.10.2
geolocation-python==0.2.2
image==1.5.4
jsonfield==1.0.3
nose==1.3.7
numpy==1.11.0
paramiko==1.16.0
Pillow==3.3.1
protobuf==3.0.0b2
pycrypto==2.6.1
pytz==2015.7
requests==2.8.1
six==1.10.0
stripe==1.27.1
tensorflow==0.8.0
