amqp==2.3.2
asgi-redis==1.4.0
asgiref==1.1.2
asn1crypto==0.22.0
attrs==17.2.0
autobahn==17.6.1
Automat==0.6.0
awscli==1.11.116
awsebcli==3.14.0
Babel==2.4.0
backports.ssl-match-hostname==3.5.0.1
beautifulsoup4==4.6.0
billiard==3.5.0.3
bleach==2.0.0
blessed==1.14.2
boto==2.47.0
botocore==1.5.79
cached-property==1.4.2
celery==4.2.0
cement==2.8.2
certifi==2017.7.27.1
cffi==1.10.0
channels==1.1.3
chardet==3.0.4
colorama==0.3.7
constantly==15.1.0
coreapi==2.3.1
coreschema==0.0.4
cryptography==1.9
daphne==1.2.0
defusedxml==0.5.0
DistributedLock==1.2
Django==1.10.7
django-allauth==0.32.0
django-annoying==0.10.3
django-appconf==1.0.2
django-braces==1.11.0
django-celery-beat==1.0.1
django-channels-ssl==0.1.1
django-colorfield==0.1.14
django-contrib-comments==1.8.0
django-cors-headers==2.1.0
django-filter==1.1.0
django-grappelli==2.9.1
django-group-by==0.3.1
django-haystack==2.6.1
django-m2m-history==0.3.6
django-mptt==0.8.7
django-oauth-tokens==0.6.3
django-oauth-toolkit==1.0.0
django-phonenumber-field==1.3.0
django-picklefield==1.0.0
django-recurrence==1.5.0
django-rest-auth==0.9.1
django-rest-swagger==2.1.2
django-seo-js==0.3.1
django-sslserver==0.19
django-storages==1.5.2
django-tagging==0.4.5
django-taggit==0.22.1
django-timezone-field==2.0
django-tinymce==2.6.0
django-twilio==0.9.0
django-webpack-loader==0.5.0
django-xmlrpc==0.1.7
djangorestframework==3.6.3
docker==3.3.0
docker-compose==1.21.2
docker-py==1.7.2
docker-pycreds==0.3.0
dockerpty==0.4.1
docopt==0.6.2
docutils==0.13.1
drf-extensions==0.3.1
drf-haystack==1.6.1
ecdsa==0.13
elasticsearch==5.4.0
exponent-server-sdk==0.1.1
filebrowser-safe==0.4.7
future==0.16.0
grappelli-safe==0.4.6
h2==3.0.1
hpack==3.0.0
html5lib==0.999999999
httpie==0.9.9
hyperframe==5.1.0
hyperlink==17.1.1
idna==2.6
incremental==17.5.0
ipaddress==1.0.16
itypes==1.1.0
Jinja2==2.9.6
jmespath==0.9.3
jsonfield==2.0.2
jsonschema==2.6.0
kombu==4.2.1
libmagic==1.0
Markdown==2.6.11
MarkupSafe==1.0
mots-vides==2015.5.11
msgpack-python==0.4.8
oauth-provider==1.1
oauthlib==2.0.2
olefile==0.44
openapi-codec==1.3.1
opentok==2.5.0
pathspec==0.5.5
phonenumberslite==8.5.1
Pillow==4.1.1
priority==1.3.0
psycopg2==2.7.1
pyasn1==0.2.3
pyasn1-modules==0.0.9
pycparser==2.17
pycrypto==2.6.1
pygeoip==0.3.2
Pygments==2.2.0
PyJWT==1.5.0
pyOpenSSL==17.0.0
pyparsing==2.2.0
PySocks==1.6.7
python-dateutil==2.7.3
python-jose==1.3.2
python-memcached==1.58
python3-openid==3.1.0
pytz==2018.4
PyYAML==3.12
redis==2.10.5
regex==2017.7.28
requests==2.18.4
requests-aws4auth==0.9
requests-oauthlib==0.8.0
rsa==3.4.2
s3transfer==0.1.10
semantic-version==2.5.0
service-identity==17.0.0
simplejson==3.10.0
six==1.11.0
sorl-thumbnail==12.3
sqlparse==0.2.3
stripe==1.82.2
tabulate==0.7.5
termcolor==1.1.0
texttable==0.9.1
tweepy==3.5.0
twilio==6.3.0
Twisted==18.4.0
txaio==2.8.0
typing==3.6.1
tzlocal==1.4
ujson==1.35
Unidecode==0.4.21
uritemplate==3.0.0
urllib3==1.22
vine==1.1.4
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.40.0
winappdbg==1.5
zope.interface==4.5.0
