commands:
    01_node_install:
        cwd: /tmp
        test: '[ ! -f /usr/bin/node ] && echo "node not installed"'
        command: 'yum install -y nodejs --enablerepo=epel'
    02_pip_upgrade:
        command: /opt/python/run/venv/bin/pip install --upgrade pip
        ignoreErrors: false


container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  02_createsu:
    command: "source /opt/python/run/venv/bin/activate && python manage.py createsu"
    leader_only: true
  03_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"
  04_wsgireplace:
        command: 'cp /opt/python/ondeck/app/kiterope/wsgi.conf  /etc/httd/conf.d/wsgi.conf'




option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "kiterope.settings.production"
    "PYTHONPATH": "/opt/python/current/app/kiterope:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: kiterope/wsgi.py
    NumProcesses: 1
    NumThreads: 3
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"
