files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/start_supervisor.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      rm -f /tmp/supervisor.sock
      /usr/local/bin/supervisord -c /opt/python/current/app/kiterope/supervisord.conf
      /usr/local/bin/supervisorctl -c /opt/python/current/app/kiterope/supervisord.conf status
