
.login-reveal {
    width:450px;
}

html {
    z-index:1;
}

.mediumResponsiveText {
    font-size:.9rem;
    line-height:1.1rem;
}

.centeredContent {
    align:center;
}

.responsiveButtonType {
    font-size: 1rem !important;
}



.google {
    color:black;
    background-color:white;
    border-color:#c4c4c4;
}

.facebook {
    color:white;
    background-color: #3b5998;
    border-radius: 2px;
    border: 1px solid;
    text-align: center;

}

.linkedin_oauth2 {
    background-color: #0077b5;
}

.centered {
    text-align: center;
}

.leftAligned {
    text-align:left;
}

.bordered {
    border-radius: 2px;
    border: 1px solid;
    text-align: center;
}

.left {
    float:left !important;
}

.gray {
    background-color: gray;
}


.custom-error {
    color: red;
    font-size:.75em;
    text-decoration:none;
}

.custom-error ul {
    list-style:none;
}

a.addGoalButton {
    background-color: lightblue;
    width:20rem;
    height:20rem;
    line-height:7.5rem;
    font-size:3em;
    text-align:bottom;
    padding:.25rem;
}




.goalPlaceholder {
    width:200px;
    height:200px;
}



.goalActions {
    top:90px;
    bottom: 20px;
}


.goalPropertiesContainer {
    height:5rem;
    background-color:#e6e6e6;

}

.dark {
    background: black;
    float: left;
}
.dark img {
    opacity: .4;
    display: inline;
}



a.pageTitle {
    font-size:2.5rem;
}

.login-alert {
    color:orangered;
}


.overlayText {

    z-index:100;
    position:absolute;
    color:white;
    font-weight:bold;
    padding:10px;
    height:100%;
    width:100%;

}

.overlayTextSmall {

    z-index:100;
    position:absolute;
    color:white;
    font-size: 2rem;
    font-weight:bold;
    left:10px;
    top:10px;
    text-align:center;
    line-height: 2rem;

}


.blue {
    background-color: #2199e8;
}

.goal {
    padding-top:1rem;
    padding-bottom:1rem;
}

.spacer {
    height:80px;
    display:block;
}

.overlayedImage {
    position:absolute;
    left:0;
    top:0;
    height:20vw;
    background: black !important;
    opacity: 0.8 !important;





}

.matchingHeight {
    height:20vw !important;
}



.overlayedImageContainer {

    position:relative;
    cursor:pointer !important;




}
.menuIcon {
    height:32px;
    width:32px;
}

.holder {
  height: 50rem;
}
.holder .middle {
  height: 100%
}

.form-holder {
    background: rgba(255,255,255,0.0);
    margin-top: 20%;
    border-radius: 3px;
}

.form-head {
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0 0 30px #000;
    margin: 15px auto 30px auto;
}

.whiteType {
    color:white;
}

.ui.form .field > label {
    color:black;
}



ul.days {
    list-style:none;
    display:inline-block;
}

.days li {
    display:inline-block;

}

ul.days2 {
    list-style:none;
}


.isSelected {
    color:#A333C8;
}

.inline-field-label {
    display: inline-block;
    float:left;
}

.cyan2 {
    background-color: #07DFF0 !important;
    color:white;
}

.purple {
    background-color:#A333C8 !important;
    color:white;
}
.purple-inverted {
    background-color:white !important;
    color:#A333C8;
}


.green {
    background-color:#06D6A0 !important;
    color:white;
}

.yellow {
    background-color:#FFD166 !important;
    color:white;
}

.red {
    background-color: #eb3b49 !important;
    color:white;
}



div.ui.segment.noBottomMargin {
    margin-bottom:0;
}
div.ui.segment.noBottomMargin.noTopMargin {
    margin-top:0;
    margin-bottom:0;

}

div.ui.segment.noTopMargin {
    margin:0;
}




.plan {
    background-color: #e0e0e0
}

html { height: 100%; margin-bottom: 1px; }



.errorField {
 border:1px solid red;
}

.errorText {
    color:red;
}

input.inline-edit{
  /* Eliminate borders and padding */
  border: none;
  padding: 0;
  margin: 0;

  /* Inherit the parent element's typography */
  font: inherit;
  color: inherit;
  line-height: inherit;
  font-size: inherit;
  text-align: inherit;

  /* Seems to help alignment in headers */
  vertical-align: top;
}

/* Add interaction cues on hover and focus */
input.inline-edit:hover,
input.inline-edit:focus{
  /* Change the background to a light yellow */
  background-color: #FFD;

  /* A subtle transition never hurts */
  -webkit-transition: background-color 0.5s;
     -moz-transition: background-color 0.5s;
      -ie-transition: background-color 0.5s;
          transition: background-color 0.5s;
}

.smallPadding {
    padding-top:.4rem !important;
    padding-bottom:.4rem !important;

    margin:.3rem !important;
}

.smallVerticalPaddingNoMargin {
    padding-top:.25rem !important;
    padding-bottom:.25rem !important;
    margin:0 !important;
}

.tinyPadding {
    padding-top:.2rem !important;
    padding-bottom:.2rem !important;
    margin:.1rem !important;
}

.reverseSegmentMargin {
    margin-left: -15px;
    margin-right: -15px;
    margin-top:-15px;
    margin-bottom: 10px;
}
.noPaddingBottom {
    padding-bottom:0 !important;
}

.noPaddingTop {
    padding-top:0 !important;
}

.huge-checkbox {
    font-size:8rem;
}

.small-checkbox {
    font-size:3rem;
}

.height-100 {
    height:100%;
}
.height-50 {
    height:50%;
}
.username {
    margin-left:10px;
}

.ui.sidebar {
    overflow: visible !important;
    zIndex:2000 !important;
}





.sidebar-spacer {
    height:6rem;
}

.onTop {
    z-index:1;
}

.sk-search-box__icon {
    display:none;
}


.sk-search-box input.sk-search-box__text {
    padding:0 0 !important;
    margin:-.25rem .5rem !important;
        width:60rem;

}
.search {
    width:75%;
}
input.sk-search-box__text {
    background:none !important;
    border:none;
    border-bottom: 1px dashed #2185d0 !important;
    color: #2185d0 !important;
    float:right;
    font-size:2.5rem !important;
    display:inline-block;
    float:right;c
    line-height:2.5rem;
    padding:0 0;
    margin:0 0;
}


input.sk-search-box__text::-webkit-input-placeholder {
   color: lightgrey !important;
}

input.sk-search-box__text::-moz-placeholder { /* Firefox 18- */
   color: lightgrey !important;
}

input.sk-search-box__text::-moz-placeholder {  /* Firefox 19+ */
   color: lightgrey !important;
}

input.sk-search-box__text::-ms-input-placeholder {
   color: lightgrey !important;
}


input.NLtextinput {
    background:none !important;
    border:none;
    border-bottom: 1px dashed #2185d0 !important;
    color: #2185d0;
    width:60rem;
    float:right;
    font-size:2.5rem;
    display:inline-block;
    float:right;
    line-height:2.5rem;
    padding:0 0;
    margin:-.25rem .5rem;



}

input.NLtextinput:focus {
    outline:none;

}

label.NLtextinput {
    line-height:2.5rem;
    font-size:2.5rem;
        clear: both;

    padding:0 0;
    margin:0 0;
    display:inline-block;
    float:left;



}

.hidden {
    display:none;
}

.calendarContainer {
    height:40rem;
}

/* React Big Calendar Overrides*/
.rbc-event {
    background-color:#B90245 !important;
    color:white;
}

.closeWindow {
    margin-right:-2rem;
    padding-top:.8rem;
    font-size:2rem;
}

.rc-time-picker-input {
    line-height:2em important!;

}

.Select-input input {
    border:none !important;
    padding: 8px 0 12px !important;
}

.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}


.hugeType {
    font-size:3vw;
    line-height:2.5vw;
}

.largeType {
    font-size:2vw;
    line-height:2.25vw;
}

.searchInput {
    background:none !important;
    border:none !important;
    border-bottom: 1px dashed #2185d0 !important;
    color: #2185d0;
    display:inline-block;
    float:right;
    padding:0 0 !important;
    margin-left: .5vw !important;
    font-size:2vw !important;
    line-height:2vw;



}

.searchLabel {
    background:none !important;
    border:none !important;
    border-bottom: 1px dashed #FFFFFF !important;

    color: #2185d0;
    display:inline-block;
    padding:0 0 !important;
    margin:0 0 !important;
    font-size:2vw !important;
    line-height:2vw;

}

.middleOfScreen{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50%;
    margin-left: -50%;
    width: 100%;
    height: 100%;
    background: red;
}

.splashPageSection {

    height: 22vw;
    min-height:150px;
}

.blue {
    background-color:#2199E8;

    color:white;
}

.topPadding {
    padding-top: 5vw;

}

.noMargin {
    margin:0 0 !important;
    padding:.2rem .2rem !important;
    text-align:center;
}

.massiveType {
    font-size: 4vw;
    line-height:4vw;
    font-weight:bold;

}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

ul.pagination li.active a {
    background-color: #1678C2 !important;
    color: white;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}





ul.pagination li a {
    border: 1px solid #ddd; /* Gray */
}

.pagination li:first-child a {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination li:last-child a {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.ginormousType {
    font-size: 6vw;
    line-height:6vw;
}

.callNotification {
    position: absolute;
    height:3vw;
    width:5vw;
}

.notifications-tr {
    background-color: white !important;
}

@media only screen and (min-width: 1280px)
img.clippedImage  {
    clip-path: polygon(0% 0%, 100% 0%, 100% 20vw, 0% 20vw);
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 20vw, 0% 20vw);
    overflow-y:hidden !important;

}



@media only screen and (min-width: 1280px)
img.clippedImage  {
    clip-path: polygon(0% 0%, 100% 0%, 100% 20vw, 0% 20vw);
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 20vw, 0% 20vw);
    overflow-y:hidden !important;
    background: black !important;
    opacity: 0.8 !important;

}


.disabledForm input {
    background:none !important;
    border:none !important;
    color: black;
    display:inline-block;
    padding:0 0 !important;
    margin:0 0 !important;
}

input[disabled]{
    opacity: 1.0 !important;
}

.ui.small.button {
    font-size:.75rem !important;
}

img.listNodeImage {
    display: block;
  max-width:100% !important;
  max-height:200px !important;
  width: auto;
  height: auto;
}

.ui.purple.button {
    background-color:#a333c8 !important
}


.iconLabel {
    margin-left:5px;
    margin-right:5px;
}


.ui.extramini.images .image, .ui.extramini.images img, .ui.extramini.images svg, .ui.extramini.image {
    width: 21px;
    height: auto;
    font-size: 0.7rem;
    margin-bottom:4px;
}

.controlButtonMargin {
    margin-right:5px !important;
}



.planTitle {
    height: 50px;
    width:100%;
    font-weight:bold;
    font-size:20px;
    line-height:22px;
    overflow:hidden;
}

.stepOccurrenceTitle {
    height: 50px;
    width:100%;
    font-weight:bold;
    font-size:20px;
    line-height:22px;
    overflow:hidden;
}

.profileTitle {
    height: 50px;
    width:100%;
    font-weight:bold;
    font-size:2em;
    line-height:1.5em;
    overflow:hidden;
    text-align:center
}

.stepTitle {
    height: 50px;
    width:100%;
    font-weight:bold;
    font-size:16px;
    line-height:22px;
    overflow:hidden;
}




.showMoreText {
    font-size:.7rem;
}

.itemDetailSmall {
    margin-top:2rem;
}

.choiceModalMargins {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.absolutelyNoMargin {
    margin:0 !important;

}

.overlayText span {
    height:100%;
    width:100%;
    line-height:normal;

}

.noRadius {
    border-radius:0px 0px 0px 0px !important;
}


.messageInput {
    position:absolute;
  padding: 15px 0;
    background-color:white;
    border: 1px solid gray;
    border-top:none;


}
.messageInput2 {
  position: absolute;
    margin-top:-15vh;
  /* bottom: 0;  remove this */
  left: 0;
  width: 100%;
  padding: 15px 0;
}


.messageThreadPane {
    height: 100%;
    width:100%;
}

.contactListPane {
    height:100%;
    width:100%;
}

.messageScrollArea {
    border:0;
    width:100%;
    height:100%;
    box-sizing:border-box;
    background-color:white;


}
.windowPane {
     height:calc(100% - 54px);
    width:100%;
}
.contactListScrollArea {
    border:0;
    width:100%;
    height:100%;
    box-sizing:border-box;
    background-color:white;
    border-bottom:2px #2185D0 solid;
}

.messageWindowPlayground {
    position:absolute;
    left:1px;
    width:calc(100% - 1px);
    top:70px;
    height:100% ;
    z-index:1;

}

.messageContainer {
    margin:10px;
    padding:10px;
}

.rightMessage {
    background-color: #a333c8;
    color: white;
    border-radius:4px;
    padding:5px;
    margin-right:30%;
}

.leftMessage {
    background-color: #2185D0;
    color: white;
    border-radius:4px;
    padding:5px;
    margin-left:30%;
}

.react-draggable, .cursor {
      cursor: move !important;
    }

.no-cursor {
    cursor: auto;
}

.cursor-y {
    cursor: ns-resize;
}

.cursor-x {
    cursor: ew-resize;
}

.messageWindowMenubarItem  {
    background-color: #c6c6c6;
    white-space:nowrap !important;
    border-right:1px #d4d4d5 solid !important;
}

.box {
    background: #fff;
    border: 1px solid #999;
    border-radius: 3px 3px 0px 0px;
    width: 180px;
    height: 180px;
    margin: 10px;
    float: left;
}

.messageControlBar {
    width:100%;
    height:40px;
}

.contactItem {
    padding:.8rem;
    cursor:pointer;
}



.messageWindowCloseIcon {
    cursor:pointer;
    color: white;
    padding-left:10px;



}

.messageWindowMenuBarItemIcon {
    padding-left:10px;
}

.messageThreadList {
    border-top: 5px solid #2199e8;
    padding-top: 10px;
}

.messageThreadListItem {
    border-top: 0px;

}
.messageThreadListItemDivider {
    margin-top:5px !important;
}

.messageThreadItemAddLabel {
    color:#2199e8;
    float:right;
    cursor:pointer;
    height:100%;
    display:block;
}

.scrollAreaContent {
    padding-bottom:20px;
}

.messageWindowBarMenuItems {
    overflow:hidden;
    width:calc(100% - 60px);
}

.hidingOverflow {
        overflow:hidden;
    width:calc(100% - 60px);

}

.overflowHidden {
    overflow:hidden;
}

.messageWindowMenuBarAdditionalItems {
    background-color:white !important;
    z-index:100;
    border:none !important;
}

.noBorder {
    border:none !important;
}


.messageLabelMenuItem {
    padding: 5px;
    border-radius:3px;
        cursor:pointer;


}

div.messageLabelMenuItem:hover {
    background-color: #efefef;
}


.activeItem {
    background-color:#2185d0 !important;
    color:white !important;

}
.fixedToRightEdge {
    position:relative !important;
    right:0 !important;
    top:0 !important;
}

.noBoxShadow {
    box-shadow:none !important;
}

.messageThreadItemLabelClose {
    float:right;
    padding-left:15px;
}

.messageThreadItemLabel {
    font-size:.7rem !important;
}

.messageThreadItemLabelsListContainer {
    margin-top:10px;
    width:100%;

}

.messageThreadItemLabelsList {
    width:calc(100% - 60px);
    overflow:hidden;
    float:left;

}

.contextualMenu {
    color: #2185d0 !important;
    border: 1px solid #2185d0 !important;
}

.ui.cyan.button {
    background-color: #07DFF0 !important;
    color: white !important;
}

.noRightPadding {
    padding-right:0px !important;
}

.Dark {
    color:white !important;
}

.Light {
    color:black !important;
}

.raspberry {
    background-color: #B90245 !important;
    color:white !important;
}

.raspberry-inverted {
    background-color:white !important;
    color:#B90245;
}

.ui.raspberry.button {
    background-color:#B90245 !important;
    color:white !important;
}

.bottomMargin14 {
    margin-bottom:14px !important;
}

.sidebarCloseButton i.icon {
    margin-top:40px;
    text-align:left !important;
    height:60px;

}

.customFooter {
    background-color: black;
    color:white;
    text-align:center;
    margin-bottom:-120px;


}

.customFooter .ui.text.menu a {
    text-decoration:none;
    margin:0;
    color:white;
    padding-bottom:10px;

}
.customFooter a {
    color:white;
}

.footerSpacer {
    height:200px;
}

.footerAtBottom {
    min-height:100vh;
}

.largeItalic {
    margin-top:1em;
    font-size:2em;
    font-style:italic;
    color:gray;
    line-height:1.75em;
}

.floatingRoundButton{
      display:block;
      height: 70px;
      width: 70px;
        z-index:100;

    background-color:#2185D0;
      border-radius: 50%;
      border: 0;
    position:fixed;
    right:40px;
    bottom:40px;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5) ;
    cursor:pointer;

}

.notificationSignal {
    background-color: red;
    height:10px;
    width:10px;
    bottom:80px;
    right:55px;
    border-radius:50%;
    position:fixed;
    z-index:101;
}
